.character-main {
    display: grid;
    grid-template-columns: 376px 1fr;
    grid-gap: 65px;

    ul {
        list-style: none;
        padding-left: 0;
    }

    .lang-picker {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--color-overlay);
        font-size: 24px;

        top: 0;
        position: sticky;
        z-index: 3;

        & > * {
            cursor: pointer;
            display: block;
            box-sizing: border-box;
            flex-grow: 1;
            border-bottom: solid 4px var(--color-overlay);

            text-align: center;
            padding: 0.5em 1em;

            &.active {
                border-color: var(--color-text);
            }

            &:hover {
                border-bottom: solid 4px var(--color-accent);
            }
        }
    }

    .sidebar {
        align-self: start;
        position: sticky;
        top: 0;
        
        img {
            /* border: solid 2px var(--color-semitext);
            box-sizing: border-box; */
        }

        .character-header {
            position: absolute;
            top: 55%;
            right: 10%;
            width: 90%;

            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-end;
        }

        .character-name {
            background: var(--color-semitext);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;

            font-size: 42px;
            line-height: 100%;
            font-weight: bold;  
            color: var(--color-semibg);  

            display: inline-block;
            padding: 0.5em 0.6em;
            margin-right: 10px;
        }

        .character-title {
            background: #3D2F44;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            font-weight: 600;
            font-size: 24px;
            line-height: 100.5%;

            isplay: inline-block;
            padding: 1.5em 1em 0.5em 1em;
            margin-top: -1em;
            max-width: 60%;
        }

        .comment-button {
            order:-1;
            background-color: var(--color-accent);
            color: var(--color-text);
            border: none;
            border-radius: 20px;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            
            display: flex;
            align-items: center;
            float: right;

            padding: 0.3em 1em;
            margin-right: 1em;
            margin-top: 1.1em;

            font-size: 24px;
            text-transform: lowercase;

            svg {
                margin-left: 0.2em;
            }
        }
    }
}

.voice-line-card {
    clear: both;

    .header {
        font-size: 24px;
        line-height: 30px;
        padding: 0.5em 1em;
        border-radius: 10px;
        background-color: var(--color-overlay);
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

        position: relative;
        z-index: 2;
        margin-left: 12px;
        margin-right: 12px;

        display: flex;
        justify-content: space-between;

        cursor:  pointer;
    }

    &.commented .header {
        border-right: solid 4px var(--color-accent);
    }

    .content {
        box-sizing: border-box;
        /* border: solid 4px var(--color-overlay); */
        border-radius: 30px;
        padding: 1.3em 2.2em 0.8em 2.2em;
        background-color: var(--color-textbg);

        margin-top: -1em;
    }

    &.commented .content {
        padding-bottom: 1.5em;
    }

    .comment-button {
        background-color: var(--color-accent);
        color: var(--color-text);
        border: none;
        border-radius: 20px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        
        display: flex;
        align-items: center;
        float: right;

        padding: 0.3em 1em;
        margin-right: 1em;
        margin-top: -1.1em;

        font-size: 24px;
        text-transform: lowercase;
    }

    .comment-box {
        border: solid 4px var(--color-accent);
        border-radius: 12px;
        background-color: var(--color-semibg);
        padding: 1em 2em 1em 2em;
        margin-left: 32px;
    }
}


.voice-lines {
    & > * {
        margin-bottom: 40px;
    }
}

.comment-overlay {
    background-color: rgba(26, 30, 43, 0.4);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow-y: auto;

    box-sizing: border-box;

    padding: 1em;

    & > * {
        background-color: rgba(26, 30, 43, 0.9);
        border-radius: 20px;
        padding: 0.5em 1em;
    }

    button {
        background-color: var(--color-accent);
        color: var(--color-text);
        border: none;
        border-radius: 20px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        width: 80%;
        display: block;
        margin: 1em auto;
    }
}