.terms-page {
    margin-top: 92px;
    padding: 0 1em;
    font-size: 1.1em;

    @media (max-width: 720px) {
        margin-top: 40px;
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 125%;
        text-align: center;

        @media (max-width: 720px) {
            font-size: 2.4rem;
        }
    }

}

.terms-section {
    margin-bottom: 40px; 

    .terms-header {
        background: #3D2F44;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        font-size: 2.25rem;
        line-height: 44px;
        padding: 0.2em 1em;
        text-align: center;

        margin: 0 20px 24px 20px; 

        display: flex;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        @media (max-width: 720px) {
            font-size: 2rem;
        }
    }

    .dict-table {
        width: 90%;
        max-width: 840px;
        margin: 0 auto 24px auto;
        border-collapse: collapse;
        background-color: var(--color-semibg);
    
        display: block;
        overflow-x: auto;

        @media (max-width: 720px) {
            font-size: 0.9rem;
        }

        thead th {
            background: var(--color-overlay);
            padding: 0.2em 1em;
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 1em;

            &:first-child {
                border-radius: 10px 0 0 10px;
            }

            &:last-child {
                border-radius: 0 10px 10px 0;
            }

            @media (max-width: 720px) {
                font-size: 1rem;
            }
        }

        td {
            padding: 0.5em 2em;
            min-width:  3em; /* Make sure the ZH cell don't get too squished */
        }
    }

    .text {
        max-width: 640px;
        margin: 0 auto;
        padding: 1em 3em;
        border-radius: 30px;
        background-color: var(--color-textbg);
        border: solid 2px var(--color-accent);

        @media (max-width: 720px) {
            padding: 1em 1.5em;
        }
    }

    .terms-text-button {
        background-color: var(--color-accent);
        color: var(--color-text);
        border: none;
        border-radius: 20px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        
        display: flex;

        padding: 0.3em 1em;
        margin: 1.1em auto;

        font-size: 24px;
        text-transform: lowercase;
    }
}

.terms-section.closed {
    & > * {
        display:  none;
    }

    .terms-header {
        display: flex;
    }
}

.text.closed {
    display:  none;
}